
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page title -->
<section class="page-title-section overlay" style="background-image: url(../../assets/images/backgrounds/page-title.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">About Us</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
       
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
      
        <h2 class="section-title">About Morning Tax</h2>
        <p>
            Taxes are mandatory contributions levied on individuals or corporations by a government entity.<br />
            Our professionally experienced smart and supercharged team are here to save your time, bills and defend from any audits along with we can guarantee you the biggest tax refund. We can provide value to our clients in term of data privacy, accountability, honesty and trust on our deliverance. With our most comprehensive three level review help to eliminate rejects and audits from IRS.
        </p>
       
      </div>

      <div class="col-12" style="padding-top: 4rem;">
      
        <h2 class="section-title">Why Morning Tax Filing..?</h2>
        <p>A tax return is a documentation filed with a tax authority that reports income, expenses, and other relevant financial information. On tax returns, taxpayers calculate their tax liability, schedule tax payments, or request refunds for the overpayment of taxes. In most places, tax returns must be filed annually.</p>
        <ul class="some_agile_facts about_ulP">
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Tax Experts Unlimited Consultations (with our EA- Enrolled Agents, CA- Chartered Accountants &amp; CPA- Certified Public Accountants)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            Accurate Tax Estimates
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>		
            Form 1040 FREE E-Filing up to the Income $28000
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            Tax Planning 
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            Filed Tax Returns Assessment 
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            ITIN Process Guidance (Form W7 for Spouse/Kids etc)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            FBAR &amp; FATCA Guidance &amp; E-Filing (Mandatory Filing as per the IRS)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Seeking Extension for Tax Filing (for Federal &amp; State)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>	
            Tax Expert Support 365 days (for Audits/Notices/Enquiries)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            FICA Taxes Withdrawals Guidance (who are on Student Visas)
          </li>
          <li class="about_li"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            W4 Guidance &amp; Assistance
          </li> 				 
        </ul> 
      </div>


      <div class="col-12" style="padding-top: 4rem;">
      
        <h2 class="section-title">Refer A Friend</h2>

        <div>
          Refer your near and dear ones today! To get best tax benefits from our most experienced tax experts, and earn referral bonus $10 on each paid referral.
        </div>

        <br>
        <div>Maximize your referral bonus by at least referring 10 people and earn $10X$10=$100.
        </div>

        <br>
        <div>Why wait? Mention your referrals details now by pressing the below tab.
        </div>
      
<br>
<button class="freffer_button">REFER NOW...!!</button>

      </div>

    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
<!--<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">-->
      <!-- funfacts item -->
      <!--<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="60">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>-->
      <!-- funfacts item -->
      <!--<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="50">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>-->
      <!-- funfacts item -->
      <!--<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="1000">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>-->
      <!-- funfacts item -->
      <!--<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="3737">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- /funfacts -->




