


<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Contact Us</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">Contact Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="#">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
          <button type="submit" value="send" class="btn btn-primary">SEND MESSAGE</button>
        </form>
      </div>
      <div class="col-lg-5">

        <a class="text-color h5 d-block">Address</a>
        <p>
          113 Big sandy creek drive,
          Hutto, Texas 78634
        </p>

        <br>
        <a class="text-color h5 d-block">Phone Number</a>
        <p style="margin-bottom: 0;" href="tel:+956-476-6686">140-931-63040</p>
     
        <p href="tel:+956-476-6686">(+91) 956-476-6686</p>
        <br>
        <a class="text-color h5 d-block">Email</a>
        <p href="#">admin@morningtax.com</p>

        <br>
        <a class="text-color h5 d-block">Website</a>
        <p href="#">www.morningtax.com</p>
      </div>
    
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -->
<!--<section class="section pt-0">-->
  <!-- Google Map -->
  <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13740.68694840074!2d-97.542111!3d30.572697!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644dbe8bf1b2435%3A0x90d6abd3fb3afe92!2s113%20Big%20Sandy%20Creek%20Dr%2C%20Hutto%2C%20TX%2078634%2C%20USA!5e0!3m2!1sen!2sin!4v1660020855252!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>-->
<!-- /gmap -->

<!-- footer -->
<!--<footer>-->
 
  <!-- footer content -->
  <!--<div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 mb-5 mb-lg-0" style="text-align:center;">-->
          <!-- logo -->
          <!--<a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/footer_logo.png" style="width: 300px;" alt="logo"></a>
        </div>
      
      </div>
    </div>
  </div>-->
  <!-- copyright -->
  <!--<div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 text-sm-left text-lg-right">
          <p class="mb-0" style="color: #ffffff;text-align: left;">Copyright © <a href="#" style="color: #fa0000;letter-spacing: 0.5px;">morningtax.com <span style="color: #fff;">. All Rights Reserved.</span></a></p> 
        </div>
        <div class="col-sm-6 col-lg-6 text-sm-left text-center">
          <p class="mb-0" style="color: #ffffff;text-align: right;">designed by <a href="#" style="color: #fa0000;letter-spacing: 0.5px;">www.kwikkoder.com </a></p> 
        </div>
      </div>
    </div>
  </div>
</footer>-->
<!-- /footer -->

