
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Data Security</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
      
        <h2 class="section-title">Morning Tax Filing Data Security & Confidentiality Policy</h2>
        <p>Most of the tax consulting firms, are not equipped with the client’s data security since it is very expensive setup, they say they have all but in reality they have none. Imagine the data threat you have with those tax companies.Much of our revenues go for data security, our aim is to provide accurate tax estimations with high level of tax knowledge with extremely high level of data security.</p>
        <p>We respect to protect our clients data, so that thay can be rest assured with our data security measures. We are reliable and trustworthy in all what we do, we are enthusiastic about learning and sharing insights about new developments in latest technology of data security. We actively monitor our security systems 24/7 so that there should not be any data security breach. We deeply think about various aspects of all data security measures.</p>
        <p>We are glad to let you know by the below details, what all we have been implementing and how much we are concerned about our precious clients data security. .</p>
      </div>

    
<div class="col-md-12">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
              <div class="panel-title div_border"> <a data-toggle="collapse" class="div_a" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Network Security, Router / Firewall  </a> </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body"> <p>A firewall is a network security device that monitors incoming and outgoing network traffic and decides whether to allow or block specific traffic based on a defined set of security rules. </p>
               </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
              <div class="panel-title div_border"> <a class="collapsed div_a"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> VPN – Remote User Connectivity </a> </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body"> <p> A service that helps you stay private online. A VPN establishes a secure, encrypted connection between your computer and the internet, providing a private tunnel for your data and communications while you use public networks. </p></div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
              <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Application Security – Security in Application Development  </a> </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"> <p>Security Model based on Application Roles and Functions. The application authenticates users by maintaining all end users in a table with their encrypted passwords. In this model the application is divided into function and roles are assigned to function that are in turn assigned to users.</p>  </div>
          </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree"> Data Security  </a> </div>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body"><p>Data security is the practice of protecting digital information from unauthorized access, corruption, or theft throughout its entire lifecycle.</p>  </div>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading5">
          <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree"> System Security – Server Vulnerability & Hardening  </a> </div>
      </div>
      <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body"> <p>
    Security is defined as being free from danger.
    is a general system hardening process that involves securing the data, ports, components, functions, and permissions of a server using advanced security measures at the hardware, firmware, and software layers.
</p> </div>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading6">
        <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6"> Identity Management – Account Management (User & High Privilege Accounts)  </a> </div>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
        <div class="panel-body"> <p>
    IDENTITY management is all about managing the attributes related to the USER, group of users, or other identity that may require access from time to time.
    Account management is the practice of providing customers with service, support and improvement opportunities to increase their consumption of a product or service and maximize retention, cross-sell and upsell opportunities within the customer base.
</p></div>
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading7">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7"> Password Management and Authentication  </a> </div>
  </div>
  <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="panel-body"> <p>
    Password management tools are applications or services that help you store and fill in passwords automatically. They help increase security through encryption and allow you to use more complex and unique passwords.
    Authentication is the process of determining whether someone or something is, in fact, who or what it says it is
</p></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading8">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8"> Event Management – Event Monitoring & Intrusion Detection  </a> </div>
  </div>
  <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body"> <p>Event management is the application of project management to the creation. Software can also address wrong, misfiled, or redundant incidents. Once an attack is identified or abnormal behavior is observed, the alert can be sent to the administrator.</p> </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading9">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9"> Incident Response  </a> </div>
  </div>
  <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body"> <p>Incident response is the effort to quickly identify an attack, minimize its effects, contain damage, and remediate the cause to reduce the risk of future incidents.</p> </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading10">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10"> Disaster Recovery  </a> </div>
  </div>
  <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body"> <p>
    Disaster recovery is an organization's method of regaining access and functionality to its IT infrastructure after events like a natural disaster, cyber attack.
<br />
    a disaster recovery document might cover key areas such as a company's website, email services, ERP system, and file and print services.
</p></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading11">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11"> Asset Security – Laptop Security  </a> </div>
  </div>
  <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body"> <p>Asset allocation determines the mix of assets held in a portfolio, while security selection is the process of identifying individual securities.</p> </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading12">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12"> Physical Security (Building & Client Machines)  </a> </div>
  </div>
  <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body"> <p>Physical security is the protection of personnel, hardware, software, networks and data from physical actions and events that could cause serious loss or damage to an enterprise, agency or institution.</p> </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading13">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13"> Physical Security (Server Rooms)  </a> </div>
  </div>
  <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
      <div class="panel-body"> <p>Physical security of a server room also impacts the ability to secure information stored within the server systems.</p> </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading14">
      <div class="panel-title div_border"> <a class="collapsed div_a" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14"> Security Officers & Organization  </a> </div>
  </div>
  <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
      <div class="panel-body"> <p>An organization is a group of people who work together, like a neighborhood association, a charity, a union, or a corporation</p></div>
  </div>
</div>
  </div>
</div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="60">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="50">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="1000">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="3737">0</h2>
          <h5 class="text-white">Morning Tax</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /funfacts -->





<!-- footer -->
<footer>
  <!-- newsletter -->
