



    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone"
                                placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginName" name="loginName"
                                placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword"
                                placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- page title -->
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary"
                                href="blog.html">Pricing</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->


    <!-- recommended post -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Pricing Information</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="div_box">
                        <div class="div_heding">City/County Tax Return Filing</div>
                        <div class="div_text">$09.99</div>
                    </div>
                    <br>
                    <div class="div_box">
                        <div class="div_heding">FBAR</div>
                        <div class="div_text">$09.99</div>
                    </div>
                    <br>

                    <div class="div_box">
                        <div class="div_heding">Schedule A (Itemized Deductions)</div>
                        <div class="div_text">$49.99</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="div_box">
                        <div class="div_heding">Each State Tax Return</div>
                        <div class="div_text">$39.99</div>
                    </div>
                    <br>
                    <div class="div_box">
                        <div class="div_heding">Federal Standard Tax Return</div>
                        <div class="div_text">$29.99</div>
                    </div>
                    <br>
                    <div class="div_box">
                        <div class="div_heding">Schedule C 1099 Misc</div>
                        <div class="div_text">$99.99</div>
                    </div>


                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="div_box">
                        <div class="div_heding">FATCA Processing</div>
                        <div class="div_text">$09.99</div>
                    </div>
                    <br>
                    <div class="div_box">
                        <div class="div_heding">Form W-4 Assitance</div>
                        <div class="div_text">Free</div>
                    </div>
                    <br>
                    <div class="div_box">
                        <div class="div_heding">Stock Transaction (Schedule D)</div>
                        <div class="div_text">$14.99</div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- /recommended post -->