
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:10rem;">
                <img src="images/blog/coming-soon-dots.jpg" style="width:100%;" />
            </div>
        </div>
    </div>-->
    <!-- page title -->
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">What Our Customers Say</a></li>
                        <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                    </ul>
                    <p class="text-lighten">What Our Customers say about <strong> MORNING TAX</strong> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->


    <div class="container" style="margin-top:3rem;">
        <div class="row">
            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
