
    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <ul class="social-bar left">
            <li>
                <a class="social-button google"
                   href="https://plus.google.com/+MarcoTrullaIT">
                    <i class="ion-social-googleplus"></i>
                </a>
            </li>
            <li>
                <a class="social-button twitter"
                   href="https://twitter.com/marcotrulla">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li>
                <a class="social-button facebook"
                   href="https://www.facebook.com/marcotrullait">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li>
                <a class="social-button linkedin"
                   href="https://linkedin.com/in/marcotrulla">
                    <i class="ion-social-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="social-button github"
                   href="https://github.com/ragnarokkr">
                    <i class="ion-social-github"></i>
                </a>
            </li>
        </ul>

        <ul class="social-bar right">
            <li>
                <a class="social-button google"
                   href="https://plus.google.com/+MarcoTrullaIT">
                    <i class="ion-social-googleplus"></i>
                </a>
            </li>
            <li>
                <a class="social-button twitter"
                   href="https://twitter.com/marcotrulla">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li>
                <a class="social-button facebook"
                   href="https://www.facebook.com/marcotrullait">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li>
                <a class="social-button linkedin"
                   href="https://linkedin.com/in/marcotrulla">
                    <i class="ion-social-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="social-button github"
                   href="https://github.com/ragnarokkr">
                    <i class="ion-social-github"></i>
                </a>
            </li>
        </ul>

        <div id="info">
            <p>Subtle 3D-like Flat Social Bar</p>./assets/images/icons/logo-alpha.png
            <img src="../../assets/images/" width="128" />
        </div>


        
    </div>


    <!-- hero slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"></div>
        <div id="target" class="carousel-item"></div>
        <div class="carousel-item"></div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <img src="https://img.icons8.com/cotton/64/ffffff/back.png" />
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <img src="https://img.icons8.com/cotton/64/ffffff/forward.png" />
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--<section class="hero-section ">
        <div class="container-fluid" style="padding:0px;">
            <div class="hero-slider">-->
                <!-- slider item -->
                <!--<div class="hero-slider-item">
                    <div class="row">
                        <img src="../../assets/images/banner/slider_image_1.png" style="width:100%;" />-->
                        <!--<div class="col-md-8">
                            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">You are at TAX <br> World</h1>
                            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                            </p>
                            <a href="#" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Contact Now</a>
                        </div>-->
                    <!--</div>
                </div>-->
                <!-- slider item -->
                <!--<div class="hero-slider-item">
                    <div class="row">
                        <img src="../../assets/images/banner/slider_image_2.png" style="width:100%;" />-->
                        <!--<div class="col-md-8">
        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
            Indiviual Federal & State
            City and County
        </h1>
        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
        </p>
        <a href="#" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Contact Now</a>
    </div>-->
                    <!--</div>
                </div>-->
                <!-- slider item -->
                <!--<div class="hero-slider-item">
                    <div class="row">
                        <img src="../../assets/images/banner/slider_image_3.png" style="width:100%;" />
                    </div>-->
                    
                    <!--<div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Early Bird Offer</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Register before December 31st, File Federal and state at $20 each.</p>
                        <a href="#" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Contact Now</a>
                    </div>-->
                <!--</div>
            </div>
        </div>
    </section>-->
    <!-- /hero slider -->
    <!-- about us -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <h2 class="section-title">About <span style="color: #fa0000;"> Morning Tax </span></h2>
                    <p>Our professionally experienced smart and supercharged team are here to save your time, bills and defend from any audits along with we can guarantee you the biggest tax refund. We can provide value to our clients in term of data privacy, accountability, honesty and trust on our deliverance.With our most comprehensive three level review help to eliminate rejects and audits from IRS.</p>
                    <a href="#" class="btn btn-primary-outline">Learn more</a>
                </div>
                <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0 display_none">
                    <img class="img-fluid w-100" src="../../assets/images/Website_Logo.png" alt="about image">
                </div>
            </div>
        </div>
    </section>
    <!-- /about us -->
    <!-- cta -->
    <section class="section bg-primary padding_t_5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="text-white font-secondary mb-0">One stop for all yout tax worries</h6>
                    <h2 class="section-title text-white">Please Contact Morning Tax</h2>
                    <a href="#" class="btn btn-secondary">Contact Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /cta -->
    <!-- success story -->
    <section class="section bg-cover" data-background="../../assets/images/backgrounds/success-story.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <div class="bg-white p-5">
                        <h2 class="section-title">Benefits</h2>
                        <div class="div_l_b">Free extension filing (worth-$20)</div>
                        <div class="div_l_b">Free ITIN Guidance (worth-$20)</div>
                        <div class="div_l_b">Line to line explaining of tax draft</div>
                        <div class="div_l_b">Free tax planning for 2021 and 2022 (worth -$20)</div>
                        <div class="div_l_b">Free last three years tax assessment</div>
                        <div class="div_l_b">Free W4 guidence</div>
                        <div class="div_l_b">Free tax draft in 24 hours</div>
                        <div class="div_l_b">Free tax expert support on notice and audits</div>
                        <div class="div_l_b">Refund status</div>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <div class="bg-white p-5 card_h">
                        <h2 class="section-title">Additional Benefits</h2>
                        <div class="div_l_b">365 days prompt customer support</div>
                        <div class="div_l_b">100% data security</div>
                        <div class="div_l_b">Confidentiality and privacy</div>
                        <div class="div_l_b">Dedicated account Manager</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /success story -->
    <!-- events -->
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center section-title justify-content-between">
                        <h2 class="mb-0 text-nowrap mr-3">
                            INDIVIDUAL & <span style="color: #fa0000;"> BUSINESS TAX SERVICES </span>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="container" style="padding-top:2rem;">
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/tax.png" class="div_icon" /></span><h2>Tax planning and advisory services</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/accounting.png" class="div_icon" /></span><h2>Tax preparation and e-filing service</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/building--v1.png" class="div_icon" /></span><h2>Federal,state,city and county tax filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/selling-strategy-document.png" class="div_icon" /></span><h2>Extension filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/processor.png" class="div_icon" /></span><h2>ITIN processing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/metro/30/000000/survey.png" class="div_icon" /></span><h2>IRS Audit representation</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/terms-and-conditions.png" class="div_icon" /></span><h2>FBAR and FATCA processing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/overview-pages-3--v1.png" class="div_icon" /></span><h2>Revising last three year Returns</h2></div>

                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/project.png" class="div_icon" /></span><h2>Business Tax Filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/blind-up.png" class="div_icon" /></span><h2>Pay roll</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/nook.png" class="div_icon" /></span><h2>Book keeping</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/estimates.png" class="div_icon" /></span><h2>Annual Reporting</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/card-in-use.png" class="div_icon" /></span><h2>Merchant payment services</h2></div>
                    <div class="clearer"></div>


                </div>
                <!-- event -->
                <!--<div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">


                <main>
                  <a href="https://google.com" class="card">
                      <div class="inner">
                        <div class="card_heading">Individual Services</div>
                        <div class="div_l_b">Tax planning and advisory services</div>
                        <div class="div_l_b">Tax preparation and e-filing service</div>
                        <div class="div_l_b">Federal,state,city and county tax filing</div>
                        <div class="div_l_b">Extension filing</div>
                        <div class="div_l_b">ITIN processing</div>
                        <div class="div_l_b">IRS Audit representation</div>
                        <div class="div_l_b">FBAR and FATCA processing</div>
                        <div class="div_l_b">Revising last three year Returns
                        </div>
                      </div>
                  </a>


                <main>


                  </div>-->
                <!--<div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                  <main>
                    <a href="https://google.com" class="card">
                        <div class="inner">
                          <div class="card_heading">Business Servics</div>
                          <div class="div_l_b">Business Tax Filing</div>
                      <div class="div_l_b">Pay roll</div>
                      <div class="div_l_b">Book keeping</div>
                      <div class="div_l_b">Annual reporting</div>
                      <div class="div_l_b">Merchant payment services</div>
                        </div>
                    </a>


                  <main>
                </div>-->

            </div>
            <!-- mobile see all button -->
            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /events -->

    <div class="container padding_t_0" style="padding-top:5rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">
                        INDIVIDUAL &<span style="color: #fa0000;"> BUSINESS TAX SERVICES </span>
                    </h2>
                </div>
                <div><img src="../../assets/images/How_it_works.png" style="width:100%;padding:3rem;" /></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 3rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">What Our Customers Say</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="#" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../assets/images/clients/Chaitanya.jfif">
              </div>
              <p class="description">
                The service is great. The staff is friendly. They listen to every thing you say,
                understand the situation and explain you different solutions. They have a good
                knowledge about the taxation. Above that, their prices are reasonable and lower
                than many well known online services. I highly recommend them
              </p>
              <h3 class="title">Chaitanya</h3>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../assets/images/clients/Dhaval.jfif">
              </div>
              <p class="description">
                The way its shows the report for deduction and other information is
                very good and easy to understand. It helps me to understand the difference between
                the Old and New Income tax slab and the tax I will need to pay. I really loved it and
                it help me a log in filling my Income Tax return and that too free of charge.

              </p>
              <h3 class="title">Dhaval</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../assets/images/clients/Shanthan.jfif">
              </div>
              <p class="description">
                Awesome and very easy to use Intuitive tool to file Income Tax returns hassle free.
                If the numbers are ready,  it barely takes a few minutes to file the returns. Calculation
                if Capital gains via their template is also easy
              </p>
              <h3 class="title">Shanthan</h3>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../assets/images/clients/Teja.jfif">
              </div>
              <p class="description">
                I had a great experiance filing. Very user friendly. Income tax website has so
                many errors and even after return being validated, there were errors which could
                be fixed, nor writing or raising an grievance was helpful.

              </p>
              <h3 class="title">Teja</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../assets/images/clients/Vinay.jfif">
              </div>
              <p class="description">
                I got a quick response when ever I had any questions or some understanding
                required between and old and new regime. Very knowledgeable and efficient MORNINGTAX team and
                would recommend using their services.
              </p>
              <h3 class="title">Vinay</h3>
            </div>
          </div>
        </div>

        
      </div>
    </div>

    <br><br>



    <div class="container" style="padding-top: 3rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">STEPS TO COMPLETE TAX RETURN FILING</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="#" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
            <div><img src="../../assets/images/About_Image.png" style="width: 100%;margin-top:5rem;margin-bottom: 5rem;"></div>
        </div>
    </div>

    <div class="container-fluid get_your_free_quote">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-2 col-md-2">

                        </div>
                        <div class="col-8 col-md-8">
                            <div class="get_heading">Get your free quote..!!</div>
                            <div class="get_text">Sign Up & answer a few questions to get a free quote - no strings attached. It only takes a minute.</div>
                            <div class="get_button">Get Started</div>
                        </div>
                        <div class="col-2 col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav>
        <a href="https://api.whatsapp.com/send?phone=918074669893&text=Hello%20Morning%20Tax%20Team%20&source=&data=" target="_blank" class="float">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
    </nav>



<script>
    setInterval(function () {
        $(".custom-social-proof")
            .stop()
            .slideToggle("slow");
    }, 8000);
    $(".custom-close").click(function () {
        $(".custom-social-proof")
            .stop()
            .slideToggle("slow");
    });

</script>
