


    <!--<section class="custom-social-proof">
        <div class="custom-notification">
            <div class="custom-notification-container">
                <div class="custom-notification-image-wrapper">
                    <img src="https://cdn-icons-png.flaticon.com/512/3190/3190526.png">
                </div>
                <div class="custom-notification-content-wrapper">
                    <p class="custom-notification-content">
                        <div style="
              font-size: 13px !important;
              color: #000;
              letter-spacing: 0.5px;
              line-height: 1.5;
              padding-bottom: 1rem;
              padding-top: 1rem;
              font-family: 'Poppins';">
                            Get Notified When We Have Updates And Offers For You.!</b>
                            <div>
                                <ul style="overflow:hidden;padding-left: 0;">
                                    <li style="display:inline-block;display: inline-block;padding: 1rem;font-family: 'Poppins';color: #000;">No Thanks</li>
                                    <li style="display:inline-block;display: inline-block;padding: 1rem;font-family: 'Poppins';color: #fff;background-color: cornflowerblue;border-radius: 5px;">Send Offers</li>
                                </ul>
                            </div>
                    </p>
                </div>
            </div>
            <div class="custom-close"></div>
        </div>
    </section>-->
    <!-- header -->
    <header class="fixed-top header">
        <!--<div class="icon-bar">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
        </div>-->
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +91 956-476-6686</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="login.html">login</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="register.html">register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="index.html"><img src="images/Website_Logo.png" alt="logo" style="width: 11rem;"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item @@about">
                                <a class="nav-link" href="about.html">About Us</a>
                            </li>
                            <li class="dropdown nav-item @@about">
                                <a class="nav-link" href="#">SERVICES <i class="dropdown-toggle"></i></a>
                                <ul class="navbar-nav ml-auto text-center">
                                 
                                    <li class="dropdown">
                                        <a href="#"><span class="navbar-expand-lg">Individual Services <img src="https://img.icons8.com/ios-filled/13/000000/forward--v1.png" style="padding-left:1rem;" /></span>> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Tax planning and advisory services</a></li>
                                            <li><a href="#">Tax preparation and e-filing service</a></li>
                                            <li><a href="#">Federal,state,city and county tax filing</a></li>
                                            <li><a href="#">Extension filing</a></li>
                                            <li><a href="#">ITIN processing</a></li>
                                            <li><a href="#">IRS Audit representation</a></li>
                                            <li><a href="#">FBAR and FATCA processing</a></li>
                                            <li><a href="#">Revising last three year Returns</a></li>
                                            <li><a href="#">Amendments</a></li>
                                            <li><a href="#">W-4 Assistance</a></li>
                                            <li><a href="#">Reporting schedules, income and expenses</a></li>
                                            <li><a href="#">ITEMIZED or standard deduction</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#"><span class="navbar-expand-lg">Business Services <img src="https://img.icons8.com/ios-filled/13/000000/forward--v1.png" style="padding-left:1rem;" /></span>> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Business Tax Filing</a></li>
                                            <li><a href="#">Pay roll</a></li>
                                            <li><a href="#">Book keeping</a></li>
                                            <li><a href="#">Annual reporting</a></li>
                                            <li><a href="#">Merchant payment services</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item @@about">
                                <a class="nav-link" href="indian_tax_filing.html">Indian tax filing</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" href="data-security.html">Data Security</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" href="pricing.html">Pricing</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <ul class="social-bar left">
            <li>
                <a class="social-button google"
                   href="https://plus.google.com/+MarcoTrullaIT">
                    <i class="ion-social-googleplus"></i>
                </a>
            </li>
            <li>
                <a class="social-button twitter"
                   href="https://twitter.com/marcotrulla">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li>
                <a class="social-button facebook"
                   href="https://www.facebook.com/marcotrullait">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li>
                <a class="social-button linkedin"
                   href="https://linkedin.com/in/marcotrulla">
                    <i class="ion-social-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="social-button github"
                   href="https://github.com/ragnarokkr">
                    <i class="ion-social-github"></i>
                </a>
            </li>
        </ul>

        <ul class="social-bar right">
            <li>
                <a class="social-button google"
                   href="https://plus.google.com/+MarcoTrullaIT">
                    <i class="ion-social-googleplus"></i>
                </a>
            </li>
            <li>
                <a class="social-button twitter"
                   href="https://twitter.com/marcotrulla">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li>
                <a class="social-button facebook"
                   href="https://www.facebook.com/marcotrullait">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li>
                <a class="social-button linkedin"
                   href="https://linkedin.com/in/marcotrulla">
                    <i class="ion-social-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="social-button github"
                   href="https://github.com/ragnarokkr">
                    <i class="ion-social-github"></i>
                </a>
            </li>
        </ul>

        <div id="info">
            <p>Subtle 3D-like Flat Social Bar</p>
            <img src="//static.marcotrulla.it/assets/images/icons/logo-alpha.png" width="128" />
        </div>


        
    </div>


    <!-- hero slider -->
    <section class="hero-section ">
        <div class="container-fluid" style="padding:0px;">
            <div class="hero-slider">
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <img src="images/banner/slider_image_1.png" style="width:100%;" />
                        <!--<div class="col-md-8">
                            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">You are at TAX <br> World</h1>
                            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                            </p>
                            <a href="#" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Contact Now</a>
                        </div>-->
                    </div>
                </div>
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <img src="images/banner/slider_image_2.png" style="width:100%;" />
                        <!--<div class="col-md-8">
        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
            Indiviual Federal & State
            City and County
        </h1>
        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
        </p>
        <a href="#" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Contact Now</a>
    </div>-->
                    </div>
                </div>
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <img src="images/banner/slider_image_3.png" style="width:100%;" />
                    </div>
                    
                    <!--<div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Early Bird Offer</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Register before December 31st, File Federal and state at $20 each.</p>
                        <a href="#" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Contact Now</a>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- /hero slider -->
    <!-- about us -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <h2 class="section-title">About <span style="color: #fa0000;"> Morning Tax </span></h2>
                    <p>Our professionally experienced smart and supercharged team are here to save your time, bills and defend from any audits along with we can guarantee you the biggest tax refund. We can provide value to our clients in term of data privacy, accountability, honesty and trust on our deliverance.With our most comprehensive three level review help to eliminate rejects and audits from IRS.</p>
                    <a href="#" class="btn btn-primary-outline">Learn more</a>
                </div>
                <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                    <img class="img-fluid w-100" src="images/Website_Logo.png" alt="about image">
                </div>
            </div>
        </div>
    </section>
    <!-- /about us -->
    <!-- cta -->
    <section class="section bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="text-white font-secondary mb-0">One stop for all yout tax worries</h6>
                    <h2 class="section-title text-white">Please Contact Morning Tax</h2>
                    <a href="#" class="btn btn-secondary">Contact Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /cta -->
    <!-- success story -->
    <section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <div class="bg-white p-5">
                        <h2 class="section-title">Benefits</h2>
                        <div class="div_l_b">Free extension filing (worth-$20)</div>
                        <div class="div_l_b">Free ITIN Guidance (worth-$20)</div>
                        <div class="div_l_b">Line to line explaining of tax draft</div>
                        <div class="div_l_b">Free tax planning for 2021 and 2022 (worth -$20)</div>
                        <div class="div_l_b">Free last three years tax assessment</div>
                        <div class="div_l_b">Free W4 guidence</div>
                        <div class="div_l_b">Free tax draft in 24 hours</div>
                        <div class="div_l_b">Free tax expert support on notice and audits</div>
                        <div class="div_l_b">Refund status</div>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <div class="bg-white p-5 card_h">
                        <h2 class="section-title">Additional Benefits</h2>
                        <div class="div_l_b">365 days prompt customer support</div>
                        <div class="div_l_b">100% data security</div>
                        <div class="div_l_b">Confidentiality and privacy</div>
                        <div class="div_l_b">Dedicated account Manager</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /success story -->
    <!-- events -->
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center section-title justify-content-between">
                        <h2 class="mb-0 text-nowrap mr-3">
                            INDIVIDUAL & <span style="color: #fa0000;"> BUSINESS TAX SERVICES </span>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="container" style="padding-top:2rem;">
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/tax.png" class="div_icon" /></span><h2>Tax planning and advisory services</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/accounting.png" class="div_icon" /></span><h2>Tax preparation and e-filing service</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/building--v1.png" class="div_icon" /></span><h2>Federal,state,city and county tax filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/selling-strategy-document.png" class="div_icon" /></span><h2>Extension filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/processor.png" class="div_icon" /></span><h2>ITIN processing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/metro/30/000000/survey.png" class="div_icon" /></span><h2>IRS Audit representation</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/terms-and-conditions.png" class="div_icon" /></span><h2>FBAR and FATCA processing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/overview-pages-3--v1.png" class="div_icon" /></span><h2>Revising last three year Returns</h2></div>

                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/project.png" class="div_icon" /></span><h2>Business Tax Filing</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/blind-up.png" class="div_icon" /></span><h2>Pay roll</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/nook.png" class="div_icon" /></span><h2>Book keeping</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/estimates.png" class="div_icon" /></span><h2>Annual Reporting</h2></div>
                    <div class="client"><span class="logo"><img src="https://img.icons8.com/ios-glyphs/30/000000/card-in-use.png" class="div_icon" /></span><h2>Merchant payment services</h2></div>
                    <div class="clearer"></div>


                </div>
                <!-- event -->
                <!--<div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">


                <main>
                  <a href="https://google.com" class="card">
                      <div class="inner">
                        <div class="card_heading">Individual Services</div>
                        <div class="div_l_b">Tax planning and advisory services</div>
                        <div class="div_l_b">Tax preparation and e-filing service</div>
                        <div class="div_l_b">Federal,state,city and county tax filing</div>
                        <div class="div_l_b">Extension filing</div>
                        <div class="div_l_b">ITIN processing</div>
                        <div class="div_l_b">IRS Audit representation</div>
                        <div class="div_l_b">FBAR and FATCA processing</div>
                        <div class="div_l_b">Revising last three year Returns
                        </div>
                      </div>
                  </a>


                <main>


                  </div>-->
                <!--<div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                  <main>
                    <a href="https://google.com" class="card">
                        <div class="inner">
                          <div class="card_heading">Business Servics</div>
                          <div class="div_l_b">Business Tax Filing</div>
                      <div class="div_l_b">Pay roll</div>
                      <div class="div_l_b">Book keeping</div>
                      <div class="div_l_b">Annual reporting</div>
                      <div class="div_l_b">Merchant payment services</div>
                        </div>
                    </a>


                  <main>
                </div>-->

            </div>
            <!-- mobile see all button -->
            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /events -->

    <div class="container" style="padding-top:5rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">
                        INDIVIDUAL &<span style="color: #fa0000;"> BUSINESS TAX SERVICES </span>
                    </h2>
                </div>
                <div><img src="images/How_it_works.png" style="width:100%;padding:3rem;" /></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 3rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">What Our Customers Say</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="#" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in
                            fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere,
                            mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>



    <div class="container" style="padding-top: 3rem;">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">STEPS TO COMPLETE TAX RETURN FILING</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="#" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
            <div><img src="images/About_Image.png" style="width: 100%;margin-top:5rem;margin-bottom: 5rem;"></div>
        </div>
    </div>

    <div class="container-fluid get_your_free_quote">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-2 col-md-2 col-sm-12 col-xs-12">

                        </div>
                        <div class="col-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="get_heading">Get your free quote..!!</div>
                            <div class="get_text">Sign Up & answer a few questions to get a free quote - no strings attached. It only takes a minute.</div>
                            <div class="get_button">Get Stated</div>
                        </div>
                        <div class="col-2 col-md-2 col-sm-12 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        setInterval(function () {
            $(".custom-social-proof")
                .stop()
                .slideToggle("slow");
        }, 8000);
        $(".custom-close").click(function () {
            $(".custom-social-proof")
                .stop()
                .slideToggle("slow");
        });
        
        </script>